.button_red_sc {
    display: block;
    background-color: #d13138;
    color: #FFF;
    text-decoration: none !important;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
}

.button_red_sc_center {
    display: inline-block;
    background-color: #c13138;
    color: #FFF;
    text-decoration: none !important;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    width: 100%;
}

.button_red_sc_reg {
    display: inline-block;
    background-color: #c13138;
    color: #FFF;
    text-decoration: none !important;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    margin: 0 0 15px 0;
    margin-top: 0px;
    padding: 5px 10px;
    cursor: pointer;
    width: 175px;
}


/* footer */
.footer-widget h4 {
    color: #c13138;
    font-weight: 700;
  }
  
  .et_pb_widget .myfooternew a {
      color: #ffffff;
  }
  
  #footer-info {
    color: #ffffff;
  }
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* Smartphones in portrait mode (0-479px) */
@media only screen and (max-width: $mobile-max-width) {

}

/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* Smartphones in landscape mode (480-768px) */
@media only screen and (min-width: $mobile-land-min-width) and (max-width: $mobile-land-max-width) {

}


/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* Tablets in portrait mode (768-980px) */
@media only screen and (min-width: $tablet-port-min-width) and (max-width: $tablet-port-max-width) {

}

/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* Tablets in landscape mode (981-1100px) */
@media only screen and (min-width: $tablet-land-min-width) and (max-width: $tablet-land-max-width) {
   

}

/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* Laptops and desktops (1100-1405px) */
@media only screen and (min-width: $desk-min-width) and (max-width: $desk-max-width) {

}





/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* Large screens (1405px upwards) */
@media only screen and (min-width: $large-min-width) {

}