.ld-modal {

    &.ld-login-modal {
        border-radius: 0;
    }

    .ld-login-modal-login {
        .ld-login-modal-wrapper {
            font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif;

            .ld-modal-heading {
                font-weight: 500 !important;
            }
        
            .ld-modal-text {
                font-weight: 400 !important;
                color: #000 !important;
            }
        
            label  {
                font-weight: 700 !important;
                color: #000 !important;
            }

            .login-submit {
                .button  {
                    border-radius: 0;
                }
            }

        }
    }


    .ld-login-modal-register {
        .ld-login-modal-wrapper {
            font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif;

            .ld-modal-heading {
                font-weight: 500 !important;
            }
        
            .ld-modal-text {
                font-weight: 400 !important;
                color: #000 !important;
            }
        
            label  {
                font-weight: 700 !important;
                color: #000 !important;
            }

            .ld-button, .button {
                border-radius: 0 !important;
            }

        }
    }



}





/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* Smartphones in portrait mode (0-479px) */
@media only screen and (max-width: $mobile-max-width) {


}

/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* Smartphones in landscape mode (480-768px) */
@media only screen and (min-width: $mobile-land-min-width) and (max-width: $mobile-land-max-width) {

}


/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* Tablets in portrait mode (768-980px) */
@media only screen and (min-width: $tablet-port-min-width) and (max-width: $tablet-port-max-width) {


}

/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* Tablets in landscape mode (981-1100px) */
@media only screen and (min-width: $tablet-land-min-width) and (max-width: $tablet-land-max-width) {
  
    .learndash-wrapper .ld-login-modal {
        border: 4px solid cyan;
        margin-top: 333px;
    }


}

/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* Laptops and desktops (1100-1405px) */
@media only screen and (min-width: $desk-min-width) and (max-width: $desk-max-width) {


}





/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* Large screens (1405px upwards) */
@media only screen and (min-width: $large-min-width) {

}