$mobile-max-width            : 479px;

$mobile-land-min-width            : 480px;
$mobile-land-max-width            : 767px;

$tablet-port-min-width            : 768px;
$tablet-port-max-width            : 980px;

$tablet-land-min-width            : 981px;
$tablet-land-max-width            : 1100px;

$desk-min-width            : 1100px;
$desk-mid-width            : 1300px;
$desk-max-width            : 1405px;

$large-min-width            : 1405px;

